@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');
body, html 
{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
}

.centering {
  text-align: center;
}



/*styling for the place starts here*/

.the-place {
  background-image: url("images/dummy_image.jpg");
  background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    height: 700px;
    width: 100%;
    margin-top: 60px;
}


@media screen and (min-width: 769px) {
  .the-place-header {
    font-size: 2rem;
    line-height: 0.95;
    margin-top: 200px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px black;

  }

  .the-place-sub-header {
    font-size: 1.2rem;
    line-height: 1;  
  }
}
@media screen and (max-width: 768px) {
  .the-place-header {
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 0.95;
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px black;
  }

  .the-place-sub-header {
    font-size: 1.2rem;
    line-height: 1;
  }
}

.gallery {
  margin-top: 100px;
  margin-bottom: 60px;
}

.gallery-images {
  width: 100%;
  box-shadow: 0 0 10px 15px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 30px;
}

.button {
  display: block;
  width: 200px;
  max-width: 100%;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  /*transform: translatez(0);*/
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0 9px 18px rgba(0,0,0,0.2);
  color: black;
  text-align: center;
}

.instagram {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  color: black;
  background: #db9839;
}

.card {
  border-radius: 20px;
  margin-bottom: 10px;
  background: #202020;
}

.card-img-top {
  padding: 5px;
  border-radius: 20px;
}

.card-body {
}

.card-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #db9839;
}

.card-text {
  font-size: 0.7rem; 
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  margin-top: -15px;
  color: white;
}

@media screen and (min-width: 769px) {
  .the-rooms-header {
    font-size: 2rem;
    line-height: 0.95;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;

  }
  .rooms {
    margin-top: 100px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .the-rooms-header {
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 0.95;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  .rooms {
    margin-top: 70px;
    margin-bottom: 60px;
  }
}

.horizontal-line {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background:  #db9839;
}

.anchor-text-decoration {
  text-decoration: none !important;
  color: black;
}

.the-you-need-sub-header {
  font-size: 1.2rem;
  line-height: 1; 
  color: white;
  text-align: center;
  margin-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.maps-embed {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 769px) {
  .testimonials {

  }

  .testimonials-title {
    color: #db9839;    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
  }

  .testimonials-sub-title {

  }
}
@media screen and (max-width: 768px) {
  .testimonials {

  }

  .testimonials-title {
    color: #db9839;    
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
  }

  .testimonials-sub-title {
    
  }
  
}

/*swiper styles */
.swiper 
{
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
}