
body, html 
{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
}


.container
{
  color: #db9839;
}

.room_types
{
  margin: auto;
  padding: 2px;
  width: 13rem;
  transition: transform .2s;

  background-color: black;
  /* border: 1px solid #e7ba7a; */
  border: 1px solid 	#505050;
}

.room_types:hover
{
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 1) 0.1px 0.1px 2px;
  
}

.card-body
{
  text-align: center;
}

.card-title
{
  font-weight: bold;
  color: #db9839;
  text-transform: capitalize;
}

.card-text
{
  color: white;
}


.room_price
{
  color: #db9839;
  text-transform: capitalize;
}


.call_us
{
  padding: 10px;
  width: 100%;
  transition: transform .2s;

  background-color: #202020;
  border: 1px solid #383838;

  text-align: center;
}

.call_us .card-title
{
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}


.call_us .card-text
{
  color: #e7ba7a;
}

.fa-phone-square
{
  color: #db9839;
  margin: 10px;
}

.fa-caret-down
{
  color: #db9839;
}

.amenities
{
  background-color: #202020;
  border: 1px solid #383838;
}

.amenities .title
{
  text-transform: capitalize;
  color: #db9839;
}


.amenities .list
{
  color: white;
  text-align: left;
  text-transform: capitalize;
}

.carousel-inner
{
  height: 70vh;
  border-radius: 5px;
}

.carousel-item
{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  
}

.fa-caret-left, .fa-caret-right
{
  color: white;
} 

.room_heading
{
  font-weight: bold;
  color: #db9839;
  text-transform: capitalize;
}
